html, body {
  min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    color: white;
}
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: #4dd325;
    padding: 0px 20px;
    box-sizing: border-box;
}
.games-links {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  box-sizing: border-box;
  background-color:#55b43a;
  box-shadow: 0px 1px 1px #55b43a;
  z-index: 2;
  box-sizing: border-box;
  height: 40px;
  max-height: 40px;
}
.game-menu-link {
  font-weight: bold;
  color: rgb(24, 24, 24);
  padding: 10px 0px;
  box-sizing: border-box;
  height: 100%;
}
.game-menu-link:hover {
  border-bottom: 2px solid white;
  box-sizing: border-box;
}
.games-links span {
  cursor: pointer;
  margin-left: 20px;
}
.game-header-title {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 20px;
  font-size: 1.5em;
  background-color: rgb(40, 40, 40);
  color: rgb(240, 240, 240);
  z-index: 1;
}
.fa-chevron-down {
  position: absolute !important;
  right: 20px;
}
h1 {
  display: inline-block;
}
header .icon {
  height: auto;
  max-width: 70px;
  height: 50%;
  margin-right: 20px;
  align-self: center;
}
.container {
  position: relative;
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.game {
    margin-bottom: 2em;
}
.game img {
    max-width: 100%;
    height: auto;
}
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
}
.hero-mask {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none; 
  z-index: 2;
}
.hero-container .hero-container-img {
  top: 0;
  width: 100%;
}
.fas,
.svg-inline--fa {
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  font-size: 2em;
  color: white;
  width: 50px;
  height: 50px;
}

.hero-action-icon {
  position: absolute;
  display: flex;
  width: 200px;
  height: auto;
  margin: 0 auto;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.hero-action-icon img {
  max-width: 200px;
}
.slick-slider-section {
  display: flex;
  justify-content: center;
  margin: 0px auto 0px auto;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 150px;
}
.mic-container {
  position: relative;
  width: 85%;
  padding: 40px 0px 10px 0px;
  max-height: 450px;
  z-index: 4;
  box-sizing: border-box;
}
.mic-slider {
  position: relative;
  max-height: 100%;
  margin: 0 auto;
}
.mic-slider__image {
  max-height: 200px;
  padding: 0px 20px;
}
.slick-list {
  max-height: 100%;
}
.slick-slide {
  height: auto;
}
.slick-track {
  display: flex;
}
.slick-next {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
}
.slick-prev {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
}
.mic-img-and-copy {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0px 0px 0px;
}
.mic-img-and-copy-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: .2;
  align-items: center;
}
.mic-img-and-copy-container__copy {
  padding: 0px 4px;
  text-align: center;
}
.about-game {
  padding: 20px 0px;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.about-game-header {
  font-weight: bold;
  padding: 0px 5%;
  text-align: initial;
}
.about-game .copy {
  padding: 0px 5%;
  text-align: initial;
}
.about-game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.game-mode-dropdown{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 5px 5%;
  background-color: #595959;
}
.game-mode-dropdown--innner {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
}
.game-mode-dropdown-copy {
  background-color: lightgray;
  padding: 20px 60px;
  color: black;
  text-align: initial;
}
.game-mode-title {
  margin-left: 20px;
}
.video-container {
  display: flex;
  justify-content: center;
}
.disc-golf-game-video {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer {
  padding: 40px 0px 0px 0px;
}
footer .social-buttons,
footer .copyright {
  display: flex;
  justify-content: center;
}
.footer-spacer{
  display: flex;
  flex-grow: 1;
}
.social-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.footer-social-button {
  position: relative;
  display: inline-flex;
  margin: 0px 10px;
}

/* Mobile */
/* @media screen and (max-width: 1024px) {
} */
@media screen and (max-width: 768px) {
  .mic-img-and-copy {
    justify-content: space-evenly;
    padding: 5px 5% 0px 5%;
  }
  .mic-img-and-copy-container {
    flex: .3;
  }
  .hero-action-icon {
    left: 35%;
    top: 85%;
  }
  .hero-action-icon img {
    max-width: 150px;
  }
  .mic-container {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
  .slick-prev{
    left: 20px;
  }
  .slick-next {
    right: 20px;
  }
  #youtubePlayer {
    max-width: 100%;
  }
  .mic-img-and-copy-container__copy {
    font-size: 14px;
  }
}